*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.header{
    display: flex;
    justify-content: space-between;
    height: 90px;
    background-color: rgb(38, 38, 38);
    align-items: center;
}

.logo{
    color: white;
    padding-left: 50px;
    
}

.header ul{
    display: flex;
    list-style: none;
}

.header ul li a{
    
    text-decoration: none;
    margin: 30px;
    color: white;
    font-weight: 600;
    transition: 0.3s;
    font-size: 1.2rem;
}

.header ul li a:hover{
    color: rgb(252, 94, 3);
}

.header ul li a.login_btn {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.3s;
}
.header ul li a.login_btn:hover {
    
    padding: 15px 25px;
    font-size: 1.3rem;
}
/* styling footer section */
.footer{
    height: 200px;
    background-color:rgb(38, 38, 38) ;
    color: white;
}
.footer table{
    padding: 20px 100px;
}
.footer table tr td:last-child{
    
    padding-left: 50px; 
}
.social-media-list{
    
    list-style: none;  
}
.social-media-list li{
    
    display: inline; 
}

.social-media-list li a{
    color: white;
}
/* styling content section */

/* styling content- cover */
.cover{
    background-image: url('images/home_cover.webp'); 
    background-size: cover;
    background-position: center;
    height: calc(100vh - 60px);
}
.cover_title{
    text-align: center;
    font-size: 120px;
    color: white;
    padding-top: 180px;
    transition: opacity 1s;
    opacity: 1;
    
   
}
.cover_sub_title{
    color: white;
    text-align: center;
    font-size: 50px;
    letter-spacing: 20px;
    transition: opacity 1s;
    opacity: 1;
    
}
.fade-out {
    opacity: 0;
}
.register-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 120px;
}
.register-btn a{
    text-decoration: none;
    color: white;
    padding: 20px 30px;
    background-color: rgb(82, 171, 171);
    border-radius: 5px;
    font-weight: 500 ;
    transition: 0.3s;
    
}
.register-btn a:hover{
    background-color: rgb(211, 114, 45);
}
/* styling content after cover */

.table1{
    width: 100%;
}

.intro{
    margin: 60px 0px;
    display: flex;
    text-align: center;
    justify-content: center;
}
.intro-content{
    
    padding: 100px;
}

/* styling image galery */

.img-gallery{
    display: flex;  
}

.img-gallery img{
    width: 25%;
}

/* styling into-semi-private-training */
.into-semi-private-training{
    display: flex;   
}

.into-semi-private-training-outer-box-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.into-semi-private-training-outer-box{
    letter-spacing:0;
    color: rgb(59, 65, 72);
    padding: 100px;
}

.intro-semi-private-training-image{
    background-image: url("images/semi-private training-intro.webp");
    width: 830px;
}

.into-semi-private-training-outer-box-header h1{
    font-size: 70px;
}

.into-semi-private-training-inner-box{
    width: 200px;
}
.into-semi-private-training-outer-box-section1{

    display: flex; 
    align-items: center;
    justify-content: space-between;
    margin: 50px 0px;
}
.into-semi-private-training-outer-box-section2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0px;
}
.into-semi-private-training-inner-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    text-align: center;
}
.into-semi-private-training-inner-box i{
    font-size: 28px;
    color: white;
    padding: 15px;
    background-color: rgb(19, 149, 123);
    border-radius: 100%;
    transition: 0.5s;
    margin: 10px;
}
.into-semi-private-training-inner-box i:hover{
    background-color:rgb(252, 94, 3) ;
}

.into-semi-private-training-inner-box h3{
    padding: 10px 0px;
}
.intro-semi-private-training-image-contents{
   padding-top:100px ;
    color: white;
    width: 130px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.intro-semi-private-training-image-contents h3{
    font-size: 20px;
    padding: 50px 0px 30px 0px;
}
.intro-semi-private-training-image-contents i{
    color: white;
    font-size: 50px;
    padding: 30px 0px;
}
.intro-semi-private-training-image-contents hr{
    width: 100%;
    margin-bottom: 30px;
}

/* styling our team */

.image-galery{
    display: flex;
    align-items: center;
    width: 100%;
}
.image-galery img{
    padding: 20px;
    width: 25%;
}
.our-team h1{
    font-size: 50px;
}

/* styling review section */
.review-box{
    display: flex;
}
.review-container img{
    border-radius: 100%;
    width: 80px;
    margin-bottom: 15px;
}
.review-container h3{
    padding-bottom:20px
}
.review-container{
    color: rgb(59, 65, 72);
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.review-container p.comma{
    font-size: 80px;
    color: rgb(49, 202, 202);
}

/* styling why fitlab section */
.why-fitlab-box{
    display: flex;
}
.why-fitlab-section1,.why-fitlab-section2,.why-fitlab-section3{
    width: 33.33%;
}
.why-fitlab-box{
    max-width: 1100px;
    margin: auto;
}
.why-fitlab-section1{
   
    font-size: 20px;
}
.why-fitlab-section2,.why-fitlab-section3{
    margin: 0px 10px;
}

.why-fitlab-section2 ul li,.why-fitlab-section3 ul li {
    line-height: 60px;
    list-style: none;
}
.why-fitlab-section2 ul li::before, .why-fitlab-section3 ul li::before{
    content: '\f00c';
    font-family: 'Font Awesome 5 Free'; 
    font-weight: 900; 
    color: rgb(33, 197, 215);
    margin-right: 8px; 
    font-size: 1.2em; 
}

/* styling username */
.logo ul li.userName{

}